.character-view-dialog-overlay {
  position: fixed;
  top: 20vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: #E0D5FF;
}

.character-view-dialog-content {
  background-color: #26232F;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  position: relative;
  display: flex;
    flex-direction: row;
  margin: 15px;
  align-self: center;
}

.character-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #EDE7FF;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #221F29;
}

.character-basic-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.basic-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}