.nameContainer {
  //display: flex;
  //align-self: baseline;
  display: flex;
  align-self: center;
  height: 90%;
}

.nameText {
  font-size: 1.5rem;
  color: #EDE7FF;
  align-self: center;
  font-weight: normal;
}