@use "../src/components/header/Header.scss" as a;
@use "../src/components/characterTile/CharacterTile.scss" as b;
@use "../src/components/characterOverview/CharacterOverview.scss" as c;
@use "../src/components/characterTile/CharacterTile.scss" as d;
@use "../src/components/characterTile/nameContainer/nameContainer.scss" as e;
@use "../src/components/characterTile/imageContainer/imageContainer.scss" as f;
@use "../src/components/charactertile/tagContainer/tagContainer.scss" as g;
@use "main.scss" as h;
@use "../src/components/basicComponents/button.scss" as i;
@use "../src/components/actionBar/biepBupBar.scss" as j;
@use "../src/components/createCharacter/createCharacter.scss" as k;
@use "../src/components/viewCharacter/viewCharacter.scss" as l;

$neutral-000: #F5ECFF;
$neutral-100: #E0D5FF;
$neutral-300: #9D95B1;
$neutral-500: #26232F;
$neutral-700: #221F29;
$neutral-900: #19181C;

$primary-500: #00C89C;

h1 {
  color: #F5ECFF;
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
}

//.centeredContent {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}






