@import "main.scss";

:root {
  background-color: #19181C;
  /* set inter as default font */
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}

body {
  margin: 0;
  display: flex;
}



